56/flows.json
[{"id":"a1054dc7.60ea1","type":"tab","label":"Flow 1"},{"id":"b48ce7cb.f4bba8","type":"inject","z":"a1054dc7.60ea1","name":"","topic":"","payload":"ABCdef","payloadType":"str","repeat":"","crontab":"","once":false,"x":122.94099426269531,"y":367.875,"wires":[["9c4d3e34.10661"]]},{"id":"153a253a.4e332b","type":"load_dataset","z":"a1054dc7.60ea1","docid":"aa","docname":"","version":"","name":"","sheets":[{"sheetname":"sheet11_12","columns":["name1","name2"]},{"sheetname":"sheet12_234","columns":["name2","name3","name4"]}],"x":316,"y":61,"wires":[["8497b333.b8799"]]},{"id":"cc5b5dd6.2914d","type":"inject","z":"a1054dc7.60ea1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":119,"wires":[["fe3d7db8.b3426"]]},{"id":"9c4d3e34.10661","type":"function","z":"a1054dc7.60ea1","name":"","func":"var edge = global.get(\"edge\");\n\nedge.func('async(inp)=>{msg.payload=\"test\"; return msg;}');\nmsg.payload = edge;\n\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":370,"wires":[["eedac9c9.f9b158"]]},{"id":"eedac9c9.f9b158","type":"debug","z":"a1054dc7.60ea1","name":"","active":true,"console":"false","complete":"payload","x":554,"y":375,"wires":[]},{"id":"36955bb4.0e7ee4","type":"upload_file","z":"a1054dc7.60ea1","filename":"test.xls","name":"test.xls","overwriteFile":"true","x":517,"y":192,"wires":[[]]},{"id":"fe3d7db8.b3426","type":"function","z":"a1054dc7.60ea1","name":"empty","func":"msg.payload=\"Start of 'Filter Module List'\\r\\ncontrollerFilter = ''.\\r\\ntaskFilter = ''.\\r\\nprogramFilter = 'MainProgram'.\\r\\nroutineFilter = 'PIDs'.\\r\\nclassNameFilter = 'AIn'.\\r\\nmoduleTagNameFilter = ''.\\r\\nModuleTagName = 'AnalogInput'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'DoseFM_FlowRate'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'TIC_TempInput'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'WeighScale'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'HARTInput'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'CM_520_AIT_041'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'CM_520_AIT_042'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'CM_520_FIT_060'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'CM_520_LIT_071'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'CM_520_PIT_001'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'CM_520_PIT_006'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'CM_520_TIT_011'\\r\\n*** Deleting row because of classNameFilter. ***\\r\\nModuleTagName = 'AnalogOutput'\\r\\nModuleTagName = 'TIC_CVOutput'\\r\\nModuleTagName = 'CM_520_PCV_006'\\r\\nModuleTagName = 'HARTOutput'\\r\\nModuleTagName = 'DiscreteInput'\\r\\nModuleTagName = 'CM_520_ASH_042'\\r\\nModuleTagName = 'CM_520_LSHH_070'\\r\\nModuleTagName = 'CM_520_PSE_101'\\r\\nModuleTagName = 'DiscreteOutput'\\r\\nModuleTagName = 'TIC_SVOutput'\\r\\nModuleTagName = 'Valve'\\r\\nModuleTagName = 'CM_520_XV_018'\\r\\nModuleTagName = 'CM_520_XV_018_1'\\r\\nModuleTagName = 'CM_520_XV_018_2'\\r\\nModuleTagName = 'CM_520_XV_120'\\r\\nModuleTagName = 'CM_520_XV_121'\\r\\nModuleTagName = 'CM_520_XV_122'\\r\\nModuleTagName = 'CM_520_XV_123'\\r\\nModuleTagName = 'VFD'\\r\\nModuleTagName = 'CM_520_SIC_001A'\\r\\nModuleTagName = 'CM_520_SIC_001B'\\r\\nModuleTagName = 'PIDLoop'\\r\\nModuleTagName = 'TIC_HeatControl'\\r\\nModuleTagName = 'CM_520_FIC_060'\\r\\nModuleTagName = 'CM_520_PIC_006'\\r\\nModuleTagName = 'CM_520_TIC_011'\\r\\nDeleting UiOptions from return set.\\r\\nReturning result.\";\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":197,"wires":[["36955bb4.0e7ee4"]]},{"id":"8497b333.b8799","type":"upload_file","z":"a1054dc7.60ea1","filename":"test13.xls","name":"test1.xls","overwriteFile":"true","x":633,"y":53,"wires":[[]]},{"id":"9e525dcb.fdca7","type":"inject","z":"a1054dc7.60ea1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":75,"y":44,"wires":[["153a253a.4e332b"]]},{"id":"bea406ca.33bed8","type":"inject","z":"a1054dc7.60ea1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":81,"y":283,"wires":[["7da04f45.24b5e"]]},{"id":"7da04f45.24b5e","type":"upload_file","z":"a1054dc7.60ea1","filename":"test7.txt","name":"","overwriteFile":"true","x":332,"y":284,"wires":[[]]}]