590/flows.json
[{"id":"966e4bfe.ef2488","type":"tab","label":"Flow 4"},{"id":"57789fe5.293ed","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1fba9a62.aac786","type":"ui_group","z":"","name":"Default","tab":"a576778f.7403b8","disp":true,"width":"6"},{"id":"a576778f.7403b8","type":"ui_tab","z":"","name":"Home666","icon":"dashboard"},{"id":"582a4122.af337","type":"ui_link","z":"","name":"Test","link":"http://www.cnn.com","icon":"open_in_browser","target":"newtab","order":1},{"id":"bd528409.6dc2e8","type":"ui_link","icon":"open_in_browser","target":"newtab","order":2},{"id":"90dfa0a4.7040a","type":"ui_link","icon":"open_in_browser","target":"newtab","order":3},{"id":"4c4e8fa7.e13d3","type":"debug","z":"966e4bfe.ef2488","name":"","active":true,"console":"false","complete":"log","x":722,"y":197,"wires":[]},{"id":"1cd614f8.fe838b","type":"debug","z":"966e4bfe.ef2488","name":"","active":true,"console":"false","complete":"payload","x":732,"y":157,"wires":[]},{"id":"384a8733.848588","type":"function","z":"966e4bfe.ef2488","name":"Build XML Document","func":"// Pull down the libraries from the global context\nvar edge = global.get(\"edge\");\nvar xmldom = global.get(\"xmldom\");\n\n// XML test\nvar baseXmlText = \"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\" standalone=\\\"yes\\\"?><RSLogix5000Content></RSLogix5000Content>\";\nvar parser = new xmldom.DOMParser();\nvar xmlDoc = parser.parseFromString(baseXmlText, \"text/xml\");\n\nvar serializer = new xmldom.XMLSerializer();\nvar xmlString = serializer.serializeToString(xmlDoc);\n\nmsg.payload = xmlString;\n\n\n\n// Edge.JS test\nvar hello = edge.func('async (input) => { return \".NET welcomes \" + input.ToString(); }');\n\nhello('Node.js', function (error, result) {\n\t//if (error) {throw error;}\n\t//else {return result;}\n\tif (error) {\n\t    msg.log = error;\n\t}\n\telse {\n\t    msg.log = result;\n\t}\n});\n\n\n\n// Return result\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":138,"wires":[["1cd614f8.fe838b","4c4e8fa7.e13d3"]]},{"id":"95bee337.91531","type":"inject","z":"966e4bfe.ef2488","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":232,"y":157,"wires":[["384a8733.848588","a793d894.613828"]]},{"id":"880c4c8.6d7fdb","type":"ui_ui_control","z":"966e4bfe.ef2488","name":"ui control","x":539,"y":572,"wires":[[]]},{"id":"14e8efaa.463ad","type":"ui_form","z":"966e4bfe.ef2488","name":"","label":"","group":"1fba9a62.aac786","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"Name","type":"text","required":true},{"label":"Person","value":"Person","type":"checkbox","required":false}],"formValue":{"Name":"","Person":false},"payload":"","topic":"","x":424,"y":279,"wires":[["dd91a553.b89298","c2aa4693.3aecd8"]]},{"id":"dd91a553.b89298","type":"debug","z":"966e4bfe.ef2488","name":"","active":true,"console":"false","complete":"false","x":689,"y":254,"wires":[]},{"id":"c2aa4693.3aecd8","type":"ui_text","z":"966e4bfe.ef2488","group":"1fba9a62.aac786","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":738,"y":354,"wires":[]},{"id":"1c095290.ae343d","type":"ui_template","z":"966e4bfe.ef2488","group":"1fba9a62.aac786","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>The number is</p>\n    <p ng-style=\"{color: (msg.payload || 0) ? 'green' : 'red'}\">\n        {{(msg.payload || 0) ? 'true' : 'false'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":751,"y":413,"wires":[[]]},{"id":"7afd7e39.26f8c","type":"ui_switch","z":"966e4bfe.ef2488","name":"","label":"switch","group":"1fba9a62.aac786","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":459,"y":417,"wires":[["1c095290.ae343d"]]},{"id":"2ce030fd.52ecb","type":"load_dataset","z":"966e4bfe.ef2488","docid":"2","docname":"","version":"","name":"","sheets":[{"sheetname":"sheet11_12","columns":["name1","name2"]},{"sheetname":"sheet12_234","columns":["name2","name3","name4"]}],"x":474,"y":42,"wires":[["b83831ad.608db"]]},{"id":"d401c726.a0d748","type":"inject","z":"966e4bfe.ef2488","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":182,"y":46,"wires":[["2ce030fd.52ecb"]]},{"id":"b83831ad.608db","type":"upload_file","z":"966e4bfe.ef2488","filename":"test.txt","name":"","overwriteFile":"true","x":732,"y":20,"wires":[[]]},{"id":"5466fcbf.f90fe4","type":"ui_button","z":"966e4bfe.ef2488","name":"","group":"1fba9a62.aac786","order":0,"width":0,"height":0,"label":"button222","color":"","icon":"","payload":"78777","payloadType":"str","topic":"","x":139,"y":545,"wires":[["b5766ff8.fab1d"]]},{"id":"b5766ff8.fab1d","type":"debug","z":"966e4bfe.ef2488","name":"","active":true,"console":"false","complete":"false","x":309,"y":582,"wires":[]},{"id":"a793d894.613828","type":"ui_template","z":"966e4bfe.ef2488","group":"1fba9a62.aac786","name":"","order":0,"width":"3","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":957,"y":525,"wires":[[]]}]