Flows/128.json
[
  {
    "id": "5f69c8d7.c79148",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "d774051.ae2f9f8",
    "type": "inject",
    "z": "5f69c8d7.c79148",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 167,
    "y": 103,
    "wires": [
      [
        "d3778d97.7f5b7"
      ]
    ]
  },
  {
    "id": "d3778d97.7f5b7",
    "type": "function",
    "z": "5f69c8d7.c79148",
    "name": "",
    "func": "msg.payload=\"test test test\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 544,
    "y": 91,
    "wires": [
      [
        "5cd54527.0d53fc",
        "80494eb8.c3625"
      ]
    ]
  },
  {
    "id": "5cd54527.0d53fc",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "test1.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 925,
    "y": 54,
    "wires": [
      []
    ]
  },
  {
    "id": "80494eb8.c3625",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "test2.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 887,
    "y": 129,
    "wires": [
      []
    ]
  },
  {
    "id": "60be42c4.c0f90c",
    "type": "inject",
    "z": "5f69c8d7.c79148",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 187,
    "y": 667,
    "wires": [
      [
        "192480cd.bac84f"
      ]
    ]
  },
  {
    "id": "192480cd.bac84f",
    "type": "function",
    "z": "5f69c8d7.c79148",
    "name": "",
    "func": "msg.payload=\"test1 test1 test1\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 564,
    "y": 655,
    "wires": [
      [
        "258a86d3.9af9fa",
        "d94a1e8d.00b9"
      ]
    ]
  },
  {
    "id": "258a86d3.9af9fa",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "test1.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 945,
    "y": 618,
    "wires": [
      []
    ]
  },
  {
    "id": "d94a1e8d.00b9",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "test2.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 907,
    "y": 693,
    "wires": [
      []
    ]
  },
  {
    "id": "b6572bb7.92eb18",
    "type": "load_dataset",
    "z": "5f69c8d7.c79148",
    "kind": "dataset",
    "docid": "287",
    "docname": "vertical-table2.docx",
    "version": "",
    "name": "",
    "sheets": "Raw File: vertical-table2.docx",
    "x": 401,
    "y": 192,
    "wires": [
      [
        "6aedc2b5.69e05c"
      ]
    ]
  },
  {
    "id": "195c4d41.2a9bdb",
    "type": "function",
    "z": "5f69c8d7.c79148",
    "name": "",
    "func": "const lorem = \"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud\";\nmsg.payload={\n    xxx:\"Usual Docx Property\",\n \"users\": [\n    {\n      \"index\": 1,\n      \"name\": \"John\",\n      \"age\": 44,\n      \"address\": \"3374 Olen Thomas Drive Frisco Texas 75034\"\n    },\n    {\n      \"index\": 2,\n      \"name\": \"Mary\",\n      \"age\": 31,\n      \"address\": \"352 Illinois Avenue Yamhill Oregon(OR) 97148\"\n    },\n    {\n      \"index\": 2,\n      \"name\": \"Leo\",\n      \"age\": 5,\n      \"address\": \"1402 Pearcy Avenue Fort Wayne  Indiana(IN) 46804\"\n    }\n  ],\n    table1: {\n\t\tfixedColumns: [null, \"Example 1\", null, \"Example 2\"],\n\t\twidths: [100, 150, 320, 100],\n\t\theader: [\"Source\", \"Hazard\", \"Handling\", \"Protection\"],\n\t\tsubheader: [\"The source\", \"The Hazard\", \"The Handling\", \"The Protection\"],\n\t\tchunkSize: 6,\n\t\tdata: [\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"B1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"B1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"B1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"B1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t],\n\t}\n} \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 356,
    "y": 322,
    "wires": [
      [
        "6aedc2b5.69e05c"
      ]
    ]
  },
  {
    "id": "6aedc2b5.69e05c",
    "type": "docx_templater",
    "z": "5f69c8d7.c79148",
    "docxmodule": "table",
    "name": "",
    "x": 629,
    "y": 257,
    "wires": [
      [
        "cedebf18.255d4",
        "7f0f969f.d37cf"
      ]
    ]
  },
  {
    "id": "a3edd02d.2835",
    "type": "inject",
    "z": "5f69c8d7.c79148",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 168,
    "y": 290,
    "wires": [
      [
        "195c4d41.2a9bdb",
        "b6572bb7.92eb18"
      ]
    ]
  },
  {
    "id": "cedebf18.255d4",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "testtable.docx",
    "name": "",
    "overwriteFile": "true",
    "x": 956,
    "y": 254,
    "wires": [
      []
    ]
  },
  {
    "id": "7f0f969f.d37cf",
    "type": "debug",
    "z": "5f69c8d7.c79148",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 954,
    "y": 300,
    "wires": []
  },
  {
    "id": "bb3c70ac.bbb538",
    "type": "docx_templater",
    "z": "5f69c8d7.c79148",
    "docxmodule": "table.vertical",
    "name": "",
    "x": 646.88330078125,
    "y": 410.8833312988281,
    "wires": [
      [
        "cedebf18.255d4"
      ]
    ]
  },
  {
    "id": "d429e94c.3fa198",
    "type": "function",
    "z": "5f69c8d7.c79148",
    "name": "",
    "func": "msg.payload={\n  \"users\": [\n    {\n      \"index\": 1,\n      \"name\": \"John\",\n      \"age\": 44,\n      \"address\": \"3374 Olen Thomas Drive Frisco Texas 75034\"\n    },\n    {\n      \"index\": 2,\n      \"name\": \"Mary\",\n      \"age\": 31,\n      \"address\": \"352 Illinois Avenue Yamhill Oregon(OR) 97148\"\n    },\n    {\n      \"index\": 2,\n      \"name\": \"Leo\",\n      \"age\": 5,\n      \"address\": \"1402 Pearcy Avenue Fort Wayne  Indiana(IN) 46804\"\n    }\n  ]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 386.88336181640625,
    "y": 513.2167053222656,
    "wires": [
      [
        "bb3c70ac.bbb538"
      ]
    ]
  },
  {
    "id": "ef3f5076.979b5",
    "type": "inject",
    "z": "5f69c8d7.c79148",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 142.88336181640625,
    "y": 454.7500305175781,
    "wires": [
      [
        "d429e94c.3fa198",
        "5251a650.6ed898"
      ]
    ]
  },
  {
    "id": "5251a650.6ed898",
    "type": "load_dataset",
    "z": "5f69c8d7.c79148",
    "kind": "dataset",
    "docid": "286",
    "docname": "vertical-table.docx2",
    "version": "",
    "name": "",
    "sheets": "Raw File: vertical-table.docx",
    "x": 383.88336181640625,
    "y": 440.183349609375,
    "wires": [
      [
        "bb3c70ac.bbb538"
      ]
    ]
  }
]