Flows/128.json
[
  {
    "id": "5f69c8d7.c79148",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "d774051.ae2f9f8",
    "type": "inject",
    "z": "5f69c8d7.c79148",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 167,
    "y": 103,
    "wires": [
      [
        "d3778d97.7f5b7"
      ]
    ]
  },
  {
    "id": "d3778d97.7f5b7",
    "type": "function",
    "z": "5f69c8d7.c79148",
    "name": "",
    "func": "msg.payload=\"test test test\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 544,
    "y": 91,
    "wires": [
      [
        "5cd54527.0d53fc",
        "80494eb8.c3625"
      ]
    ]
  },
  {
    "id": "5cd54527.0d53fc",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "test1.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 925,
    "y": 54,
    "wires": [
      []
    ]
  },
  {
    "id": "80494eb8.c3625",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "test2.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 887,
    "y": 129,
    "wires": [
      []
    ]
  },
  {
    "id": "60be42c4.c0f90c",
    "type": "inject",
    "z": "5f69c8d7.c79148",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 179,
    "y": 488,
    "wires": [
      [
        "192480cd.bac84f"
      ]
    ]
  },
  {
    "id": "192480cd.bac84f",
    "type": "function",
    "z": "5f69c8d7.c79148",
    "name": "",
    "func": "msg.payload=\"test1 test1 test1\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 556,
    "y": 476,
    "wires": [
      [
        "258a86d3.9af9fa",
        "d94a1e8d.00b9"
      ]
    ]
  },
  {
    "id": "258a86d3.9af9fa",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "test1.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 937,
    "y": 439,
    "wires": [
      []
    ]
  },
  {
    "id": "d94a1e8d.00b9",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "test2.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 899,
    "y": 514,
    "wires": [
      []
    ]
  },
  {
    "id": "4d3f57c.fe029a8",
    "type": "function",
    "z": "5f69c8d7.c79148",
    "name": "",
    "func": "const lorem = \"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud\";\nmsg.payload={\n    table1: {\n\t\tfixedColumns: [null, \"Example 1\", null, \"Example 2\"],\n\t\twidths: [100, 150, 320, 100],\n\t\theader: [\"Source\", \"Hazard\", \"Handling\", \"Protection\"],\n\t\tsubheader: [\"The source\", \"The Hazard\", \"The Handling\", \"The Protection\"],\n\t\tchunkSize: 6,\n\t\tdata: [\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"B1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"B1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"B1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"A1\", lorem],\n\t\t\t[\"B1\", lorem],\n\t\t\t[\"C1\", lorem],\n\t\t],\n\t}\n} \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 292,
    "wires": [
      [
        "6aedc2b5.69e05c"
      ]
    ]
  },
  {
    "id": "6aedc2b5.69e05c",
    "type": "docx_templater",
    "z": "5f69c8d7.c79148",
    "docxmodule": "table",
    "name": "",
    "x": 619,
    "y": 228,
    "wires": [
      [
        "cedebf18.255d4",
        "7f0f969f.d37cf"
      ]
    ]
  },
  {
    "id": "a3edd02d.2835",
    "type": "inject",
    "z": "5f69c8d7.c79148",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 158,
    "y": 261,
    "wires": [
      [
        "97d87673.511b7",
        "4d3f57c.fe029a8"
      ]
    ]
  },
  {
    "id": "97d87673.511b7",
    "type": "load_dataset",
    "z": "5f69c8d7.c79148",
    "kind": "dataset",
    "docid": "283",
    "docname": "table1.docx",
    "version": "",
    "name": "",
    "sheets": "Raw File: table1.docx",
    "x": 363,
    "y": 197,
    "wires": [
      [
        "6aedc2b5.69e05c"
      ]
    ]
  },
  {
    "id": "cedebf18.255d4",
    "type": "upload_file",
    "z": "5f69c8d7.c79148",
    "filename": "testtable.docx",
    "name": "",
    "overwriteFile": "true",
    "x": 946,
    "y": 225,
    "wires": [
      []
    ]
  },
  {
    "id": "7f0f969f.d37cf",
    "type": "debug",
    "z": "5f69c8d7.c79148",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 944,
    "y": 271,
    "wires": []
  }
]