Flows/129.json
[
  {
    "id": "55d71a0e.94e864",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "66fec0a4.244aa",
    "type": "load_dataset",
    "z": "55d71a0e.94e864",
    "kind": "dataset",
    "docid": "267",
    "docname": "9",
    "version": "",
    "name": "",
    "sheets": [
      {
        "sheetname": "Sheet1",
        "columns": [
          9999
        ]
      }
    ],
    "x": 290,
    "y": 112,
    "wires": [
      [
        "23a0ef39.db50c"
      ]
    ]
  },
  {
    "id": "23a0ef39.db50c",
    "type": "upload_file",
    "z": "55d71a0e.94e864",
    "filename": "deletetest.txt",
    "name": "",
    "overwriteFile": "true",
    "x": 604,
    "y": 103,
    "wires": [
      []
    ]
  },
  {
    "id": "d3aeee39.0aaa5",
    "type": "inject",
    "z": "55d71a0e.94e864",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 95,
    "y": 100,
    "wires": [
      [
        "66fec0a4.244aa"
      ]
    ]
  }
]