Flows/131.json
[
  {
    "id": "9b79bbdb.00d028",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "a1ff8b5b.157af8",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "fbf70ab2.134a08",
    "type": "inject",
    "z": "a1ff8b5b.157af8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 120,
    "wires": [
      [
        "699ffbdd.a37e14"
      ]
    ]
  },
  {
    "id": "699ffbdd.a37e14",
    "type": "load_dataset",
    "z": "a1ff8b5b.157af8",
    "kind": "dataset",
    "docid": "368",
    "docname": "BaseAreaWithEngine.csv",
    "version": "",
    "name": "",
    "sheets": "Raw File: BaseAreaWithEngine.csv",
    "x": 310,
    "y": 120,
    "wires": [
      [
        "590d8e13.4aa57"
      ]
    ]
  },
  {
    "id": "590d8e13.4aa57",
    "type": "function",
    "z": "a1ff8b5b.157af8",
    "name": "",
    "func": "\n\nmsg.payload=Buffer.from(msg.payload).toString('utf16le');\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 120,
    "wires": [
      [
        "3b6cf99f.36c826",
        "16f33ea0.56a0b1"
      ]
    ]
  },
  {
    "id": "3b6cf99f.36c826",
    "type": "change",
    "z": "a1ff8b5b.157af8",
    "name": "313",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "320",
        "fromt": "str",
        "to": "313",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 725,
    "y": 120,
    "wires": [
      [
        "3fbe6127.36b14e"
      ]
    ]
  },
  {
    "id": "16f33ea0.56a0b1",
    "type": "change",
    "z": "a1ff8b5b.157af8",
    "name": "314",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "320",
        "fromt": "str",
        "to": "314",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 723,
    "y": 161,
    "wires": [
      [
        "8db152cc.74aa6"
      ]
    ]
  },
  {
    "id": "d1781a26.505968",
    "type": "upload_file",
    "z": "a1ff8b5b.157af8",
    "filename": "",
    "name": "",
    "overwriteFile": "true",
    "x": 1080,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "3fbe6127.36b14e",
    "type": "function",
    "z": "a1ff8b5b.157af8",
    "name": "",
    "func": "\n\nmsg.filename = \"313_import.csv\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 910,
    "y": 120,
    "wires": [
      [
        "d1781a26.505968"
      ]
    ]
  },
  {
    "id": "e50eab0c.2b9af8",
    "type": "upload_file",
    "z": "a1ff8b5b.157af8",
    "filename": "",
    "name": "",
    "overwriteFile": "true",
    "x": 1080,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "8db152cc.74aa6",
    "type": "function",
    "z": "a1ff8b5b.157af8",
    "name": "",
    "func": "\n\nmsg.filename = \"314_import.csv\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 910,
    "y": 160,
    "wires": [
      [
        "e50eab0c.2b9af8"
      ]
    ]
  }
]