Flows/131.json
[
  {
    "id": "cd218575.9c2828",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "4a473826.b57b18",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "d7bbe20b.839a3",
    "type": "inject",
    "z": "4a473826.b57b18",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 120,
    "wires": [
      [
        "79558e0f.2ca85"
      ]
    ]
  },
  {
    "id": "79558e0f.2ca85",
    "type": "load_dataset",
    "z": "4a473826.b57b18",
    "kind": "dataset",
    "docid": "368",
    "docname": "BaseAreaWithEngine.csv",
    "version": "",
    "name": "",
    "sheets": "Raw File: BaseAreaWithEngine.csv",
    "x": 310,
    "y": 120,
    "wires": [
      [
        "1f049ef9.599fd1"
      ]
    ]
  },
  {
    "id": "1f049ef9.599fd1",
    "type": "function",
    "z": "4a473826.b57b18",
    "name": "",
    "func": "\n\nmsg.payload=Buffer.from(msg.payload).toString('utf16le');\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 120,
    "wires": [
      [
        "e155ec8e.61ee",
        "d57dcb5c.a85b58"
      ]
    ]
  },
  {
    "id": "e155ec8e.61ee",
    "type": "change",
    "z": "4a473826.b57b18",
    "name": "313",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "320",
        "fromt": "str",
        "to": "313",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 725,
    "y": 120,
    "wires": [
      [
        "73bbd8f3.35c528"
      ]
    ]
  },
  {
    "id": "d57dcb5c.a85b58",
    "type": "change",
    "z": "4a473826.b57b18",
    "name": "314",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "320",
        "fromt": "str",
        "to": "314",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 723,
    "y": 161,
    "wires": [
      [
        "9dcab4c8.97b198"
      ]
    ]
  },
  {
    "id": "3ec9a9a0.6a1f86",
    "type": "upload_file",
    "z": "4a473826.b57b18",
    "filename": "",
    "name": "",
    "overwriteFile": "true",
    "x": 1080,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "73bbd8f3.35c528",
    "type": "function",
    "z": "4a473826.b57b18",
    "name": "",
    "func": "\n\nmsg.filename = \"313_import.csv\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 910,
    "y": 120,
    "wires": [
      [
        "3ec9a9a0.6a1f86"
      ]
    ]
  },
  {
    "id": "8136f190.a160c",
    "type": "upload_file",
    "z": "4a473826.b57b18",
    "filename": "",
    "name": "",
    "overwriteFile": "true",
    "x": 1080,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "9dcab4c8.97b198",
    "type": "function",
    "z": "4a473826.b57b18",
    "name": "",
    "func": "\n\nmsg.filename = \"314_import.csv\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 910,
    "y": 160,
    "wires": [
      [
        "8136f190.a160c"
      ]
    ]
  }
]