Flows/133.json
[
  {
    "id": "b2ef3925.b68ee8",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "bd7380ed.1828d",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "f91ee924.1d9ac8",
    "type": "inject",
    "z": "b2ef3925.b68ee8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 334.5,
    "y": 451.29998779296875,
    "wires": [
      [
        "288c6316.c005cc"
      ]
    ]
  },
  {
    "id": "288c6316.c005cc",
    "type": "function",
    "z": "b2ef3925.b68ee8",
    "name": "format date",
    "func": "msg.filename = \"test_upload\"+msg.i+\".txt\";\n// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = \"date \"+ msg.i + \": \" +date.toString();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 567.5,
    "y": 448.5999755859375,
    "wires": [
      [
        "a1f2dfb7.30231"
      ]
    ]
  },
  {
    "id": "a1f2dfb7.30231",
    "type": "upload_file",
    "z": "b2ef3925.b68ee8",
    "filename": "",
    "name": "",
    "overwriteFile": "true",
    "x": 792.5,
    "y": 445.1499938964844,
    "wires": [
      [
        "f694a461.17dc78"
      ]
    ]
  },
  {
    "id": "f694a461.17dc78",
    "type": "debug",
    "z": "b2ef3925.b68ee8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 1031.5,
    "y": 443.4499816894531,
    "wires": []
  },
  {
    "id": "9277ae21.54417",
    "type": "inject",
    "z": "bd7380ed.1828d",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 230.5,
    "y": 2125.2999877929688,
    "wires": [
      [
        "ecb302d0.577c3"
      ]
    ]
  },
  {
    "id": "ecb302d0.577c3",
    "type": "function",
    "z": "bd7380ed.1828d",
    "name": "",
    "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\nmsg.filename = \"test_upload2.txt\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 454.5,
    "y": 2132.5999755859375,
    "wires": [
      [
        "8a146145.020bd"
      ]
    ]
  },
  {
    "id": "8a146145.020bd",
    "type": "upload_file",
    "z": "bd7380ed.1828d",
    "filename": "",
    "name": "",
    "overwriteFile": "true",
    "x": 648.5,
    "y": 2136.1499938964844,
    "wires": [
      [
        "10fbec69.61f5c4"
      ]
    ]
  },
  {
    "id": "10fbec69.61f5c4",
    "type": "debug",
    "z": "bd7380ed.1828d",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 806.5,
    "y": 2133.449951171875,
    "wires": []
  },
  {
    "id": "b04a27af.b54c98",
    "type": "inject",
    "z": "bd7380ed.1828d",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 335.5,
    "y": 397.29998779296875,
    "wires": [
      [
        "d2e138a6.8f4d08"
      ]
    ]
  },
  {
    "id": "37de1f52.5d7f4",
    "type": "function",
    "z": "bd7380ed.1828d",
    "name": "format date",
    "func": "msg.filename = \"test_upload\"+msg.i+\".txt\";\n// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = \"date \"+ msg.i + \": \" +date.toString();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 616.5,
    "y": 402.5999755859375,
    "wires": [
      [
        "be99a8f0.822678"
      ]
    ]
  },
  {
    "id": "3e5f9085.3ffbf",
    "type": "upload_file",
    "z": "bd7380ed.1828d",
    "filename": "",
    "name": "",
    "overwriteFile": "true",
    "x": 998.5,
    "y": 612.1499938964844,
    "wires": [
      [
        "64ce7039.c4cfc"
      ]
    ]
  },
  {
    "id": "64ce7039.c4cfc",
    "type": "debug",
    "z": "bd7380ed.1828d",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 1313.5,
    "y": 606.4499816894531,
    "wires": []
  },
  {
    "id": "be99a8f0.822678",
    "type": "delay",
    "z": "bd7380ed.1828d",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 670.5,
    "y": 578.5999755859375,
    "wires": [
      [
        "3e5f9085.3ffbf",
        "6f1fabb7.d10e84"
      ]
    ]
  },
  {
    "id": "d2e138a6.8f4d08",
    "type": "template",
    "z": "bd7380ed.1828d",
    "name": "i=0",
    "field": "i",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "0",
    "x": 487.5,
    "y": 308.6000061035156,
    "wires": [
      [
        "a9cd4a46.d7a9b8"
      ]
    ]
  },
  {
    "id": "a9cd4a46.d7a9b8",
    "type": "switch",
    "z": "bd7380ed.1828d",
    "name": "i<10",
    "property": "i",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "10",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 717.5,
    "y": 129.60000610351562,
    "wires": [
      [
        "37de1f52.5d7f4"
      ]
    ]
  },
  {
    "id": "6f1fabb7.d10e84",
    "type": "function",
    "z": "bd7380ed.1828d",
    "name": "i++",
    "func": "msg.i++;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 822.5,
    "y": 340.5999755859375,
    "wires": [
      [
        "a9cd4a46.d7a9b8"
      ]
    ]
  }
]