Flows/40.json
[
  {
    "id": "ecfb2f98.b7495",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "cd1f48d0.464108",
    "type": "load_dataset",
    "z": "ecfb2f98.b7495",
    "docid": "Adocx",
    "docname": "",
    "version": "",
    "name": "",
    "sheets": "Raw File: a.docx",
    "x": 354,
    "y": 84,
    "wires": [
      [
        "6a180b9f.da1064"
      ]
    ]
  },
  {
    "id": "6a180b9f.da1064",
    "type": "docx_templater",
    "z": "ecfb2f98.b7495",
    "docid": null,
    "docname": null,
    "version": null,
    "name": "",
    "sheets": [],
    "x": 662,
    "y": 134,
    "wires": [
      [
        "f769cb05.f13b38"
      ]
    ]
  },
  {
    "id": "a1742c10.d35bc",
    "type": "function",
    "z": "ecfb2f98.b7495",
    "name": "",
    "func": "msg.payload={a:\"111\", b:\"222\"};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 178,
    "wires": [
      [
        "6a180b9f.da1064"
      ]
    ]
  },
  {
    "id": "16bfd5cd.d7c92a",
    "type": "inject",
    "z": "ecfb2f98.b7495",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 138,
    "y": 126,
    "wires": [
      [
        "cd1f48d0.464108",
        "a1742c10.d35bc"
      ]
    ]
  },
  {
    "id": "f769cb05.f13b38",
    "type": "upload_file",
    "z": "ecfb2f98.b7495",
    "filename": "TestNewArtifacts.docx",
    "name": "",
    "overwriteFile": "true",
    "x": 947,
    "y": 131,
    "wires": [
      []
    ]
  }
]